<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIFileSharingEnabled</key>
	<true/>
    <key>NSCameraUsageDescription</key>
    <string>We need access to the camera for AR</string>
    <key>NSMotionUsageDescription</key>
    <string>We need access to motion sensors for AR</string>
</dict>
</plist>
